body {
  background: white;
  color: black;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.posts-container {
  font-size: 20px;
}

.post-item a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
